<a href="https://colab.research.google.com/github/suryakiran23/PYTHON/blob/Module-2/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### · Create a function which accepts two inputs from the user and compute nCr

In [ ]:
def fact(k):
  f = i = 1
  while i<=k:
    f = i*f
    i += 1
  return f
def findcomb(x, y):
  num = fact(x)
  den = fact(x - y)
  den = fact(y) * den
  comb = num / den
  return comb
print("Enter the Value of n: ", end="")
n = int(input())
print("Enter the Value of r: ", end="")
r = int(input())

print("Combination (nCr) =", findcomb(n, r))

Enter the Value of n: 5
Enter the Value of r: 5
Combination (nCr) = 1.0

#### · Recursive function to compute GCD of 2 numbers

In [ ]:
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
GCD=gcd(a,b)
print("GCD is: ")
print(GCD)

Enter first number:5
Enter second number:2
GCD is:
1

#### · Recursive function to find product of two numbers

In [ ]:
def product(num1,num2):
    if(num1<num2):
        return product(num2,num1)
    elif(num2!=0):
         return(num1+product(num1,num2-1))
    else:
         return 0

num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))

print("product is: ",product(num1,num2))

Enter first number: 6
Enter second number: 8
product is:  48

#### · Recursive function to generate Fibonacci series

In [ ]:
def fibo(n):  
   if n <= 1:  
       return n  
   else:  
       return(fibo(n-1) + fibo(n-2))  
# take input from the user  
nterms = int(input("How many terms? "))  
# check if the number of terms is valid  
if nterms <= 0:  
   print("Plese enter a positive integer")  
else:  
   print("Fibonacci sequence:")  
   for i in range(nterms):  
       print(fibo(i))

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

 #### Program to print a specified list after removing the 0th, 4th and 5th elements.  Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] Expected Output : ['Green', 'White', 'Black']

In [ ]:
list= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
list.pop(0)
list.pop(3)
list.pop()
print(list)

['Green', 'White', 'Black']

#### Program to get the difference between the two lists.

In [ ]:
a=[1,2,3,4]
b=[1,3,5,2]
difference=[]
for x in a:
    if x not in b:
        difference.append(x)
print(difference)

[4]

#### Program to find the second smallest number and second largest number in a list.

In [ ]:
a=[1,2,3,4,5]
a.sort(reverse=True)
print(a[1],a[-2])

4 2

#### · Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number.

In [ ]:
import math
a=[9,3,6]
for x in a:
    tup=[(x,math.pow(x,2))]
    print(tup)

[(9, 81.0)]
[(3, 9.0)]
[(6, 36.0)]

#### · Given list of tuples, remove all the tuples with length K. Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] Explanation : (4, 5) of len = 2 is removed.

In [ ]:
a= [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
b=[]
k=2
for x in a:
    if len(x)!=k:
        b.append(x)
print(b)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

Program to generate and print a dictionary that contains a number (between 1 
and n) in the form (x, x*x). 
Sample Input: (n=5) : 
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
b=int(input("enter the amount of number's"))
a=dict()
for x in range(b):
    a[x]=x*x
print(a)

enter the amount of number's5
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### · Program to remove a key from a dictionary

In [ ]:
test={
    "name":"x",
    "age": 0,
    "year":2021
}
del test["name"]
print(test)

{'age': 0, 'year': 2021}

Program to get the maximum and minimum value in a dictionary

In [ ]:
a={
    1,2,4,5,6
}
print(max(a),min(a))

6 1

Program to perform operations on string using unicodes ,splitting of string,accessing 
elements of string using locations

In [ ]:
a="hi hello"
print(a.split())
print(a[2:5])

#### Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.

In [ ]:
a="hi,bye,hello"
print(a.count("h"))

2

Program for replacing one substring by another For example - Rabbit - Replace ‘bb’ by 
‘cc’

In [ ]:
a="rabbit"
print (a.replace("b" , "c"))   ##a[2,4]="cc"

raccit

Program to Acronym generator for any user input (ex-input is Random memory access 
then output should be RMA).Example - Random number (RN)

In [ ]:
import random
a=input("enter the command")
if "roll"==a:
    for x in range(6):
        a=random.randint(1,6)
        print(a)

enter the commandroll
1
4
1
4
6
4

Python function that accepts a string and calculates the number of uppercase 
letters and lowercase letters

In [ ]:
def string(a):
    u=0;l=0
    for x in a :
        if x.isupper():
            u=u+1
        else:
            l=l+1
    print("the lower values",l)
    print("higher values",u)
       
string("KiraN")

the lower values 3
higher values 2

#### · Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2

In [ ]:
a=['abc', 'xyz', 'aba', '1221']
c=0
for x in a :
    if len(x)>=2:
        if x[0]==x[-1]:
            c=c+1
print("the string of length 2 is",c)

the string of length 2 is 2