<a href="https://colab.research.google.com/github/suryakiran23/PYTHON/blob/main/Python_(1012).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Avg of three numbers

In [ ]:
a=10;b=20;c=30
d=(a+b+c)/3
print(d)
print(type(d))

20.0
<class 'float'>

## Multi of two numbers

In [ ]:
a=10;b=20
mult=a*b
print(type
    (mult))
print("multi of the given two numbers: ",mult)

<class 'int'>
multi of the given two numbers:  200

## dynamic addition of two numbers

In [ ]:
a=int(input( "ENTER A NUMBER"))
b=int(input("enter the second number"))
c=a+b
print("the sum of two number: ",c)

ENTER A NUMBER2
enter the second number3
the sum of two number:  5

In [ ]:
a=int(input( "ENTER A NUMBER"));b=int(input("enter the second number"))
c=a+b
d="ki";e="ran"
f=d+e
print(f)
print(type(f))
print("the sum of two number: ",c)

ENTER A NUMBER2
enter the second number3
kiran
<class 'str'>
the sum of two number:  5

## coversion of data types

### covert int to float

In [ ]:
a=10;b=float(a)
print(b)
print(type(b))

10.0
<class 'float'>

### covert float to int

In [ ]:
a=10.0;b=int(a)
print(b)
print(type(b))

10
<class 'int'>

In [ ]:
a=10.0;b=int(a)
print(b,type(b))
c=float(b)
print(c,type(c))

10 <class 'int'>
10.0 <class 'float'>

## covert int to str (strn to int isn't possible with alphabet)

In [ ]:
#strn to int isn't possible with alphabet
a=10;b=str(a)
print(b,type(b))
c=int(b)
print(c,type(c))

10 <class 'str'>
10 <class 'int'>

## boolean function

In [ ]:
a=10;b=float(a)
print(bool(a));print (type(a))
print(bool(b));print(type(b))

True
<class 'int'>
True
<class 'float'>

In [ ]:
print("enter num to check boolean");a=int(input("enter num 1: "));b=float(input("enter num2: " ))
print("check boolean")
print(bool(a),bool(b),type(a),type(b))

enter num to check boolean
enter num 1: 2
enter num2: 3
check boolean
True True <class 'int'> <class 'float'>

In [ ]:
a=10;b=15
c=a>b
print(bool(c),type(c))
print(int(c))

False <class 'bool'>
0

In [ ]:
a=10;b=5
c=a>b;d=b>a;
print((c),(d),type(c),type(d))

True False <class 'bool'> <class 'bool'>

In [ ]:
a=bool(10)
print((a),type(a))
print(int(a),type(a))

True <class 'bool'>
1 <class 'bool'>

## complex

In [ ]:
a=10
print(complex(b))

(5+0j)

In [ ]:
a=23
print(bool(a),complex(a),float(a))

True (23+0j) 23.0

In [ ]:
a=23+2j
print(type(a))
print(int(a),type(a))

<class 'complex'>

TypeError: can't convert complex to int

In [ ]:
a=23+2j
print(type(a))
print(str(a),type(a))

<class 'complex'>
(23+2j) <class 'complex'>

In [ ]:
a=23+2j
print(type(a))
print(float(a),type(a))

<class 'complex'>

TypeError: can't convert complex to float