<a href="https://colab.research.google.com/github/suryakiran23/PYTHON/blob/main/Python_(1012).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Avg of three numbers

In [ ]:
a=10;b=20;c=30
d=(a+b+c)/3
print(d)
print(type(d))

20.0
<class 'float'>

## Multi of two numbers

In [ ]:
a=10;b=20
mult=a*b
print(type
    (mult))
print("multi of the given two numbers: ",mult)

<class 'int'>
multi of the given two numbers:  200

## dynamic addition of two numbers

In [ ]:
a=int(input( "ENTER A NUMBER"))
b=int(input("enter the second number"))
c=a+b
print("the sum of two number: ",c)

ENTER A NUMBER2
enter the second number3
the sum of two number:  5

In [ ]:
a=int(input( "ENTER A NUMBER"));b=int(input("enter the second number"))
c=a+b
d="ki";e="ran"
f=d+e
print(f)
print(type(f))
print("the sum of two number: ",c)

ENTER A NUMBER2
enter the second number3
kiran
<class 'str'>
the sum of two number:  5

## coversion of data types

### covert int to float

In [ ]:
a=10;b=float(a)
print(b)
print(type(b))

10.0
<class 'float'>

### covert float to int

In [ ]:
a=10.0;b=int(a)
print(b)
print(type(b))

10
<class 'int'>

In [ ]:
a=10.0;b=int(a)
print(b,type(b))
c=float(b)
print(c,type(c))

10 <class 'int'>
10.0 <class 'float'>

## covert int to str (strn to int isn't possible with alphabet)

In [ ]:
#strn to int isn't possible with alphabet
a=10;b=str(a)
print(b,type(b))
c=int(b)
print(c,type(c))

10 <class 'str'>
10 <class 'int'>

## boolean function

In [ ]:
a=10;b=float(a)
print(bool(a));print (type(a))
print(bool(b));print(type(b))

True
<class 'int'>
True
<class 'float'>

In [ ]:
print("enter num to check boolean");a=int(input("enter num 1: "));b=float(input("enter num2: " ))
print("check boolean")
print(bool(a),bool(b),type(a),type(b))

enter num to check boolean
enter num 1: 2
enter num2: 3
check boolean
True True <class 'int'> <class 'float'>

In [ ]:
a=10;b=15
c=a>b
print(bool(c),type(c))
print(int(c))

False <class 'bool'>
0

In [ ]:
a=10;b=5
c=a>b;d=b>a;
print((c),(d),type(c),type(d))

True False <class 'bool'> <class 'bool'>

In [ ]:
a=bool(10)
print((a),type(a))
print(int(a),type(a))

True <class 'bool'>
1 <class 'bool'>

## complex

In [ ]:
a=10
print(complex(b))

(5+0j)

In [ ]:
a=23
print(bool(a),complex(a),float(a))

True (23+0j) 23.0

In [ ]:
a=23+2j
print(type(a))
print(int(a),type(a))

<class 'complex'>

TypeError: can't convert complex to int

In [ ]:
a=23+2j
print(type(a))
print(str(a),type(a))

<class 'complex'>
(23+2j) <class 'complex'>

In [ ]:
a=23+2j
print(type(a))
print(float(a),type(a))

<class 'complex'>

TypeError: can't convert complex to float

## PYTHON control statements

## IF ELSE

In [ ]:
a=18
if a>18: ###indentation is necessary 
       print("you're eligiable for voting")### the code should be started below the indenenation

In [ ]:
a=int(input("enter the age"))
if a>18:
    print("eligible for voting")
else:
       print("not eligigble")

enter the age21
eligible for voting

In [ ]:
a=int(input("enter the age"))
if a>18:
    print("eligible for voting")
elif a==18:
    print("just eligible")
else:
       print("not eligigble")

enter the age18
just eligible

In [ ]:
a=int(input("enter the number"));b=int(input("enter number two"));c=int(input("enter the third number"))
if a>b and a>c:
    print("a is max")
elif b>a and b>c :
    print("b is max")
else :
    print("c is max")

enter the number2
enter number two3
enter the third number9
c is max

In [ ]:
a=int(input("enter the number: "));b=int(input("enter number two: "));c=int(input("enter the third number"));d=int(input("enter the forth number"));e=int(input("enter the five number"))
if a>b and a>c and a>d and a>e:
    print("a is max")
elif b>a and b>c and b>d and b>e:
    print("b is max")
elif c>a and c>b and c>d and c>e:       
    print("c is max")
elif d>a and d>b and d>c and d>e:       
    print("d is max")
else:    
    print("e is max")

enter the number2
enter number two3
enter the third number6
enter the forth number9
enter the five number4
d is max

In [ ]:
a=int(input("enter the marks of subjects: "));b=int(input("enter the marks of subjects: : "));c=int(input("enter the marks of subjects: "));d=int(input("enter the marks of subjects: "));e=int(input("enter the marks of the subject"))
if a>b and a>c and a>d and a>e:
    print("a is max")
elif b>a and b>c and b>d and b>e:
    print("b is max")
elif c>a and c>b and c>d and c>e:       
    print("c is max")
elif d>a and d>b and d>c and d>e:       
    print("d is max")
else:    
    print("e is max")

enter the marks of subjects: 6
enter the marks of subjects: : 3
enter the marks of subjects: 3
enter the marks of subjects: 3
enter the marks of the subject3
a is max

In [ ]:
a=int(input("enter the number"));b=int(input("enter the max number"))
for i in range (a,b):
    print (i)

enter the number9
enter the max number18
9
10
11
12
13
14
15
16
17

In [ ]:
a=int(input("enter the number"));b=int(input("enter the max number"))
for i in range (a,b):
    if i%2==0:
        print("even number ",i)
else:
    print ("odd number ",i)

enter the number2
enter the max number100
even number  2
even number  4
even number  6
even number  8
even number  10
even number  12
even number  14
even number  16
even number  18
even number  20
even number  22
even number  24
even number  26
even number  28
even number  30
even number  32
even number  34
even number  36
even number  38
even number  40
even number  42
even number  44
even number  46
even number  48
even number  50
even number  52
even number  54
even number  56
even number  58
even number  60
even number  62
even number  64
even number  66
even number  68
even number  70
even number  72
even number  74
even number  76
even number  78
even number  80
even number  82
even number  84
even number  86
even number  88
even number  90
even number  92
even number  94
even number  96
even number  98
odd number  98

## Multi tables

In [ ]:
a=int(input("enter the number"));b=int(input("enter the max number"))
for i in range (a,b,2):

        print("even number ",i)
for j in range (a,b,3):

    print ("odd number ",j)

enter the number0
enter the max number10
even number  0
even number  2
even number  4
even number  6
even number  8
odd number  0
odd number  3
odd number  6
odd number  9