<a href="https://colab.research.google.com/github/suryakiran23/PYTHON/blob/main/Python_(1012).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Avg of three numbers

In [ ]:
a=10;b=20;c=30
d=(a+b+c)/3
print(d)
print(type(d))

20.0
<class 'float'>

## Multi of two numbers

In [ ]:
a=10;b=20
mult=a*b
print(type
    (mult))
print("multi of the given two numbers: ",mult)

<class 'int'>
multi of the given two numbers:  200

## dynamic addition of two numbers

In [ ]:
a=int(input( "ENTER A NUMBER"))
b=int(input("enter the second number"))
c=a+b
print("the sum of two number: ",c)

ENTER A NUMBER2
enter the second number3
the sum of two number:  5

In [ ]:
a=int(input( "ENTER A NUMBER"));b=int(input("enter the second number"))
c=a+b
d="ki";e="ran"
f=d+e
print(f)
print(type(f))
print("the sum of two number: ",c)

ENTER A NUMBER2
enter the second number3
kiran
<class 'str'>
the sum of two number:  5

## coversion of data types

### covert int to float

In [ ]:
a=10;b=float(a)
print(b)
print(type(b))

10.0
<class 'float'>

### covert float to int

In [ ]:
a=10.0;b=int(a)
print(b)
print(type(b))

10
<class 'int'>

In [ ]:
a=10.0;b=int(a)
print(b,type(b))
c=float(b)
print(c,type(c))

10 <class 'int'>
10.0 <class 'float'>

## covert int to str (strn to int isn't possible with alphabet)

In [ ]:
#strn to int isn't possible with alphabet
a=10;b=str(a)
print(b,type(b))
c=int(b)
print(c,type(c))

10 <class 'str'>
10 <class 'int'>

## boolean function

In [ ]:
a=10;b=float(a)
print(bool(a));print (type(a))
print(bool(b));print(type(b))

True
<class 'int'>
True
<class 'float'>

In [ ]:
print("enter num to check boolean");a=int(input("enter num 1: "));b=float(input("enter num2: " ))
print("check boolean")
print(bool(a),bool(b),type(a),type(b))

enter num to check boolean
enter num 1: 2
enter num2: 3
check boolean
True True <class 'int'> <class 'float'>

In [ ]:
a=10;b=15
c=a>b
print(bool(c),type(c))
print(int(c))

False <class 'bool'>
0

In [ ]:
a=10;b=5
c=a>b;d=b>a;
print((c),(d),type(c),type(d))

True False <class 'bool'> <class 'bool'>

In [ ]:
a=bool(10)
print((a),type(a))
print(int(a),type(a))

True <class 'bool'>
1 <class 'bool'>

## complex

In [ ]:
a=10
print(complex(b))

(5+0j)

In [ ]:
a=23
print(bool(a),complex(a),float(a))

True (23+0j) 23.0

In [ ]:
a=23+2j
print(type(a))
print(int(a),type(a))

<class 'complex'>

TypeError: can't convert complex to int

In [ ]:
a=23+2j
print(type(a))
print(str(a),type(a))

<class 'complex'>
(23+2j) <class 'complex'>

In [ ]:
a=23+2j
print(type(a))
print(float(a),type(a))

<class 'complex'>

TypeError: can't convert complex to float

## PYTHON control statements

## IF ELSE

In [ ]:
a=18
if a>18: ###indentation is necessary 
       print("you're eligiable for voting")### the code should be started below the indenenation

In [ ]:
a=int(input("enter the age"))
if a>18:
    print("eligible for voting")
else:
       print("not eligigble")

enter the age21
eligible for voting

In [ ]:
a=int(input("enter the age"))
if a>18:
    print("eligible for voting")
elif a==18:
    print("just eligible")
else:
       print("not eligigble")

enter the age18
just eligible

In [ ]:
a=int(input("enter the number"));b=int(input("enter number two"));c=int(input("enter the third number"))
if a>b and a>c:
    print("a is max")
elif b>a and b>c :
    print("b is max")
else :
    print("c is max")

enter the number2
enter number two3
enter the third number9
c is max

In [ ]:
a=int(input("enter the number: "));b=int(input("enter number two: "));c=int(input("enter the third number"));d=int(input("enter the forth number"));e=int(input("enter the five number"))
if a>b and a>c and a>d and a>e:
    print("a is max")
elif b>a and b>c and b>d and b>e:
    print("b is max")
elif c>a and c>b and c>d and c>e:       
    print("c is max")
elif d>a and d>b and d>c and d>e:       
    print("d is max")
else:    
    print("e is max")

enter the number2
enter number two3
enter the third number6
enter the forth number9
enter the five number4
d is max

In [ ]:
a=int(input("enter the marks of subjects: "));b=int(input("enter the marks of subjects: : "));c=int(input("enter the marks of subjects: "));d=int(input("enter the marks of subjects: "));e=int(input("enter the marks of the subject"))
if a>b and a>c and a>d and a>e:
    print("a is max")
elif b>a and b>c and b>d and b>e:
    print("b is max")
elif c>a and c>b and c>d and c>e:       
    print("c is max")
elif d>a and d>b and d>c and d>e:       
    print("d is max")
else:    
    print("e is max")

enter the marks of subjects: 6
enter the marks of subjects: : 3
enter the marks of subjects: 3
enter the marks of subjects: 3
enter the marks of the subject3
a is max

In [ ]:
a=int(input("enter the number"));b=int(input("enter the max number"))
for i in range (a,b):
    print (i)

enter the number9
enter the max number18
9
10
11
12
13
14
15
16
17

In [ ]:
a=int(input("enter the number"));b=int(input("enter the max number"))
for i in range (a,b):
    if i%2==0:
        print("even number ",i)
else:
    print ("odd number ",i)

enter the number2
enter the max number100
even number  2
even number  4
even number  6
even number  8
even number  10
even number  12
even number  14
even number  16
even number  18
even number  20
even number  22
even number  24
even number  26
even number  28
even number  30
even number  32
even number  34
even number  36
even number  38
even number  40
even number  42
even number  44
even number  46
even number  48
even number  50
even number  52
even number  54
even number  56
even number  58
even number  60
even number  62
even number  64
even number  66
even number  68
even number  70
even number  72
even number  74
even number  76
even number  78
even number  80
even number  82
even number  84
even number  86
even number  88
even number  90
even number  92
even number  94
even number  96
even number  98
odd number  98

## Multi tables

In [ ]:
a=int(input("enter the number"));b=int(input("enter the max number"))
for i in range (a,b,2):

        print("even number ",i)
for j in range (a,b,3):

    print ("odd number ",j)

enter the number0
enter the max number10
even number  0
even number  2
even number  4
even number  6
even number  8
odd number  0
odd number  3
odd number  6
odd number  9

In [ ]:
a=int(input("Enter the number to begin with "));b=int(input("enter the max number "))
for i in range (a,b):
     print(i)

Enter the number to begin with 5
enter the max number 9
5
6
7
8

## Module 2 programs in python

In [ ]:
a=int(input("enter the max number "));b=int(input("enter the first number"))
sum=0
while b<=a:
    sum=sum+b
    b=b+1
print(sum)

enter the max number 10
enter the first number1
55

In [ ]:
a=int(input("enter the first side "));b=int(input("enter the second side"));c=int(input("enter the third side"))

if a==b and a==c and c==a:
    
    print("equalilater triangle")
elif a==b or a==c or  c==a:
    
    print("isoscles trinagle ")
else:
    print("scalen triangle")

enter the first side 5
enter the second side5
enter the third side5
equalilater triangle

In [ ]:
a=int(input("enter the year "))

if a%400==0:
    print("it is a leap year")
elif a%100==0:
    print("not a leap year ")
elif a%4==0:
    print("it is a leap year")
else:
    print("not a leap year")

enter the year 2022
not a leap year

In [ ]:
a=int(input("enter the number"));b=int(input("enter number two"));c=int(input("enter the third number"))
if a<b and a<c:
    print("a is min")
elif b<a and b<c :
    print("b is min")
else :
    print("c is min")

enter the number5
enter number two2
enter the third number1
c is min

In [ ]:
a=int(input("enter the  number"));
if a%5==0 and a%11==0:
    print("the number is divisible by both 5 and 11")
elif a%5==0:
    print("The number is divisible by 5")
elif a%11==0 :
    print("The number is divisible by 11")
else :
    print("The number is not divisible by both")

enter the  number55
the number is divisible by both 5 and 11

In [ ]:
a=int(input("enter the number to find factorial for "))
fact=1
for i in range (1,a+1):
    fact=fact*i
print(fact)

enter the number to find factorial for 5
120

In [ ]:
a=int(input("enter the number you want to find palindrome for"))
rev=0
temp=a
while temp>0:
    rem=temp%10
    rev=(rev*10)+rem
    temp=temp//10
if a==rev:
    print("palindrome")
else:
    print("not a plaindrome")

enter the number you want to find palindrome for1212
not a plaindrome

In [ ]:
a=0;b=1;n=int(input("enter number of terms u want to find plandrome for"))
print(a,b)
for i in range(1,n):
    nextnum=a+b 
    print(nextnum)
    a=b 
    b=nextnum
    i=i+1
print("completion of fibonanci")

enter number of terms u want to find plandrome for10
0 1
1
2
3
5
8
13
21
34
55
completion of fibonanci

## Lists

In [ ]:
fruits =["apple ","cherry","melon","peach","berry"]
print(fruits)
print(fruits[0])#it is used to print index
print(fruits[0:3])#intial index and range is a given number 
print(fruits[-3])
print(fruits[:4])#if the imdex is not given it act as zero
print(fruits[3:5])
print(fruits[1:])

['apple ', 'cherry', 'melon', 'peach', 'berry']
apple
['apple ', 'cherry', 'melon']
melon
['apple ', 'cherry', 'melon', 'peach']
['peach', 'berry']
['cherry', 'melon', 'peach', 'berry']

In [ ]:
fruits =["apple ","cherry","melon","peach","berry"]
print(fruits)
print(len(fruits))
fruits.append("drangon fruit")# to add elements into list 
print(fruits)

['apple ', 'cherry', 'melon', 'peach', 'berry']
5
['apple ', 'cherry', 'melon', 'peach', 'berry', 'drangon fruit']

In [ ]:
fruits =["apple ","cherry","melon","peach","berry"]
print(fruits)
print(len(fruits))
fruits.insert(3,"drangon fruit")# to add elements with respective to index
print(fruits)
print(len(fruits))

['apple ', 'cherry', 'melon', 'peach', 'berry']
5
['apple ', 'cherry', 'melon', 'drangon fruit', 'peach', 'berry']
6

In [ ]:
fruits =["apple ","cherry","melon","peach","berry"]
veggies=["potato", "onion"]
fruits.extend(veggies) # to add elemtns of the another list
print(fruits)
print(fruits[6])
fruits.remove("cherry")# to remove elements from the list
print(fruits)

['apple ', 'cherry', 'melon', 'peach', 'berry', 'potato', 'onion']
onion
['apple ', 'melon', 'peach', 'berry', 'potato', 'onion']

In [ ]:
list = ["apple", "banana", "cherry"]
list[2] = "blackcurrant"

print(list)

In [ ]:
k=["hp","dell","lenovo"]
print(k)
a=input("enter the element name: ")
k.insert(2,a)
k.append("ugh")
print(k)

['hp', 'dell', 'lenovo']
enter the element name: ohhh
['hp', 'dell', 'ohhh', 'lenovo', 'ugh']

In [ ]:
mix=[1,"kiran",bool(1),0+5j]
k=[1,2,4,5]
s=[2,3,4]
print(mix)
print(k)
print(s)
mix.pop(0)# pop is used to remove the element by the list
mix.remove("kiran")# remove to use to delete certain element
print(mix)
del mix[0] # del is used to delete the element in the list if the index is mentioned it delte the index value in the list 
print (mix)
del k  # del without given index will delete whole list 
s.clear()
print(s)

[1, 'kiran', True, 5j]
[1, 2, 4, 5]
[2, 3, 4]
[True, 5j]
[5j]
[]

In [ ]:
num=[1,5,3,7,2,4,6]
num.sort()#it sorts according to order
print(num)
num.sort(reverse=True) # reverse=True is used to reverse the list ie: descending order 
print(num)
pp=["k","i","r","a","n"]
pp.sort()
print(pp)
pp.sort(reverse=True)#it also sort alph according to dictionary order
print(pp)

[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]
['a', 'i', 'k', 'n', 'r']
['r', 'n', 'k', 'i', 'a']

In [ ]:
t=("a","b","c")# tuple doesn't allow addition of elements
print(t)

('a', 'b', 'c')

In [ ]:
a=[1,2,3,6,7]
for i in range (len(a)):
    if a[i]%2==0:
          print(a[i])

2
6

In [ ]:
a=[]
for i in range(1,n):
    a[i]=int(input("enter the numbers: "))
    while len(a)<10:
        print(a[i])

enter the numbers: 10

IndexError: list assignment index out of range

In [ ]:
import math 
a=int(input("enter the number"))
b=math.sqrt(a)
print(b)

enter the number4
2.0

In [ ]:
a=int(5);b=int(3);c=int(2)
if a>b and a>c:
    print(5)
elif b>c and b>a:
    print(3)
else:
    print(2)

5

In [ ]:
a=int(2);b=int(3)
temp=a
a=b
b=temp
print("Result =",a,b)

Result = 3 2

In [ ]:
Rainbow=['Red','Orange','Yellow','Green']
Rainbow.insert(3,'Black')
print(Rainbow)

['Red', 'Orange', 'Yellow', 'Black', 'Green']

In [ ]:
a=[1,7,3,8,2]
a.sort()
for x in a:
    print(x)

1
2
3
7
8

In [ ]:
list = ["123a500", "0b02222", "5a9874", "7c8924", "8d79654"]
newlist = []

for x in list:
    if "a" in x:
        newlist.append(x)

print(newlist)

['123a500', '5a9874']

# STRING

In [ ]:
a="kiran"
print(a)
print(a[1])
b="hello"
print(b[4])
print(len(b))

kiran
i
o
5

In [ ]:
a="hello retard your life is miserable if you're reading this"
print("this" in a)
print("xz" in a)
print("hello" not in a)

True
False
False

## slicing

In [ ]:
a="hello retard your life is miserable if you're reading this"
print(a[1:3])

el

## modifing string

In [ ]:
a="hello retard your life is miserable if you're reading this"
print(a.upper())
b="RETARD"
print(b.lower())

HELLO RETARD YOUR LIFE IS MISERABLE IF YOU'RE READING THIS
retard

In [ ]:
a="    your life is miserable"
print(a.strip())## removes the space at starting

your life is miserable

In [ ]:
a="your life is Life"
print(a.replace("Life","miserable"))## replace the variable we want to change

your life is miserable

In [ ]:
a=" your life is miserable"
print(a.split())## splits the elements

['your', 'life', 'is', 'miserable']

In [ ]:
a="your"
b="life"
c="is"
d="miserable"
k=a+b+c+d
m=a+" "+b+" "+c+" "+d
print(k)
print(m)

yourlifeismiserable
your life is miserable

In [ ]:
age=21
txt="your life is miserable, and you'll die at {}"
print(txt.format(age))## the format is used to convert integers

your life is miserable, and you'll die at 21

In [ ]:
age=21
earn="1000k"
txt="your life is miserable you get paid {1}, and you'll die at {0}"
print(txt.format(age,earn))

your life is miserable you get paid 1000kk, and you'll die at 21

In [ ]:
txt="your life is \"miserable\" retard"
a='you\'re a retard'
b=
print(txt)##\txt\ is used to seperate
print(a)

your life is "miserable" retard
you're a retard

In [ ]:
a="your life is  \btrash"
b="your life is\ntrash"
c="your life is\ttrash"
print(a)
print(b)
print(c)

your life is  trash
your life is
trash
your life is	trash

In [ ]:
a="retard"
b="Retard"
c="retard is a retard you retard"
print(a.capitalize())
print(b.casefold())
print(b.center(10))
print(c.count("retard"))
print(c.endswith("retard"))

Retard
retard
  Retard
3
True